# 201710776 박희지

In [1]:
import os
import sys

#home=os.path.expanduser("~") # HOME이 설정되어 있지 않으면 expanduser('~')를 사용한다.
#osn.environ["PYSPARK_PYTHON"] = "/usr/bin/python"
os.environ["SPARK_HOME"]=os.path.join(os.path.expanduser("~"),r"C:\Users\user\spark-2.0.0-bin-hadoop2.7\spark-2.0.0-bin-hadoop2.7")
os.environ["PYLIB"]=os.path.join(os.environ["SPARK_HOME"],'python','lib')
sys.path.insert(0,os.path.join(os.environ["PYLIB"],'py4j-0.10.1-src.zip'))
sys.path.insert(0,os.path.join(os.environ["PYLIB"],'pyspark.zip'))

In [2]:
import pyspark
spark = pyspark.sql.SparkSession.builder\
    .master("local")\
    .appName("myApp")\
    .config("spark.sql.warehouse.dir", r"C:\Users\user\MyStudySpace\2019-2\BigData_Spark\src")\
    .getOrCreate()

In [91]:
twitDf = spark.read.format('com.databricks.spark.csv')\
    .load(os.path.join("data","testdata.manual.2009.06.14.csv"))

In [92]:
twitDf.show(3)

+---+---+--------------------+-------+------+--------------------+
|_c0|_c1|                 _c2|    _c3|   _c4|                 _c5|
+---+---+--------------------+-------+------+--------------------+
|  4|  3|Mon May 11 03:17:...|kindle2|tpryan|@stellargirl I lo...|
|  4|  4|Mon May 11 03:18:...|kindle2|vcu451|Reading my kindle...|
|  4|  5|Mon May 11 03:18:...|kindle2|chadfu|Ok, first assesme...|
+---+---+--------------------+-------+------+--------------------+
only showing top 3 rows

1) 정서별 데이터 갯수 출력

In [51]:
twitDf.groupBy(twitDf._c0).count().show()

+---+-----+
|_c0|count|
+---+-----+
|  0|  177|
|  4|  182|
|  2|  139|
+---+-----+

2)트윗 정서 레이블 변경

In [64]:
label=twitDf.select('_c0')
label.show()
label.printSchema()

+---+
|_c0|
+---+
|  4|
|  4|
|  4|
|  4|
|  4|
|  4|
|  0|
|  4|
|  4|
|  4|
|  2|
|  0|
|  4|
|  4|
|  0|
|  4|
|  0|
|  4|
|  0|
|  4|
+---+
only showing top 20 rows

root
 |-- _c0: string (nullable = true)

In [93]:
twitDf.where(twitDf['_c0'].isNull()).count()
twitDf.where(twitDf['_c1'].isNull()).count()
twitDf.where(twitDf['_c2'].isNull()).count()
twitDf.where(twitDf['_c3'].isNull()).count()
twitDf.where(twitDf['_c4'].isNull()).count()
twitDf.where(twitDf['_c5'].isNull()).count()

0

4) 중립 정서 제거

In [94]:
twitDf=twitDf.filter(twitDf['_c0'] != 2).show()
twitDf.show()

+---+---+--------------------+-------+--------------+--------------------+
|_c0|_c1|                 _c2|    _c3|           _c4|                 _c5|
+---+---+--------------------+-------+--------------+--------------------+
|  4|  3|Mon May 11 03:17:...|kindle2|        tpryan|@stellargirl I lo...|
|  4|  4|Mon May 11 03:18:...|kindle2|        vcu451|Reading my kindle...|
|  4|  5|Mon May 11 03:18:...|kindle2|        chadfu|Ok, first assesme...|
|  4|  6|Mon May 11 03:19:...|kindle2|         SIX15|@kenburbary You'l...|
|  4|  7|Mon May 11 03:21:...|kindle2|      yamarama|@mikefish  Fair e...|
|  4|  8|Mon May 11 03:22:...|kindle2|  GeorgeVHulme|@richardebaker no...|
|  0|  9|Mon May 11 03:22:...|    aig|       Seth937|Fuck this economy...|
|  4| 10|Mon May 11 03:26:...| jquery|     dcostalis|Jquery is my new ...|
|  4| 11|Mon May 11 03:27:...|twitter|       PJ_King|       Loves twitter|
|  4| 12|Mon May 11 03:29:...|  obama|   mandanicole|how can you not l...|
|  0| 14|Mon May 11 03:32:...|  obama|   kylesellers|@Karoli I firmly ...|
|  4| 15|Mon May 11 03:33:...|  obama|   theviewfans|House Corresponde...|
|  4| 16|Mon May 11 05:05:...|   nike|        MumsFP|Watchin Espn..Jus...|
|  0| 17|Mon May 11 05:06:...|   nike|   vincentx24x|dear nike, stop w...|
|  4| 18|Mon May 11 05:20:...| lebron|  cameronwylie|#lebron best athl...|
|  0| 19|Mon May 11 05:20:...| lebron|       luv8242|I was talking to ...|
|  4| 20|Mon May 11 05:21:...| lebron|    mtgillikin|i love lebron. ht...|
|  0| 21|Mon May 11 05:21:...| lebron|ursecretdezire|@ludajuice Lebron...|
|  4| 22|Mon May 11 05:21:...| lebron|     Native_01|@Pmillzz lebron I...|
|  4| 23|Mon May 11 05:22:...| lebron|  princezzcutz|@sketchbug Lebron...|
+---+---+--------------------+-------+--------------+--------------------+
only showing top 20 rows

AttributeError: 'NoneType' object has no attribute 'show'

5) 토큰화하여 불용어 제거

In [95]:
from pyspark.ml.feature import Tokenizer
_tokenizer = Tokenizer(inputCol="_c5", outputCol="content_tok")
tokDf = _tokenizer.transform(twitDf)
tokDf.select('content_tok').show(2)

AttributeError: 'NoneType' object has no attribute '_jdf'

In [78]:
from pyspark.ml.feature import StopWordsRemover
stop = StopWordsRemover(inputCol="content_tok", outputCol="nostops")

stopwords=list()
_stopwords=stop.getStopWords()
for e in _stopwords:
    stopwords.append(e)

_mystopwords=[":)", "@stellargirl", "@kenburbary"]
for e in _mystopwords:
    stopwords.append(e)
    stopwords.append(e+".")
stop.setStopWords(stopwords)

stopDf = stop.transform(tokDf)
# stopDf.printSchema()
# stopDf.select("nostops").show(1,truncate=False)

In [81]:
stopDf.select('nostops').show()

+--------------------+
|             nostops|
+--------------------+
|[loooooooovvvvvve...|
|[reading, kindle2...|
|[ok,, first, asse...|
|[you'll, love, ki...|
|[@mikefish, , fai...|
|[@richardebaker, ...|
|[fuck, economy., ...|
|[jquery, new, bes...|
|    [loves, twitter]|
|[love, obama?, ma...|
|[check, video, --...|
|[@karoli, firmly,...|
|[house, correspon...|
|[watchin, espn..j...|
|[dear, nike,, sto...|
|[#lebron, best, a...|
|[talking, guy, la...|
|[love, lebron., h...|
|[@ludajuice, lebr...|
|[@pmillzz, lebron...|
+--------------------+
only showing top 20 rows

6) 파이프라인으로 tf-idf 계산

In [87]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import HashingTF, IDF
from pyspark.ml.feature import VectorAssembler

idf = IDF(inputCol="nostops", outputCol="idf")
va = VectorAssembler(inputCols=["idf"],\
                     outputCol="features")
pipeline = Pipeline(stages=[idf,va])

model = pipeline.fit(stopDf)
pipDf = model.transform(stopDf)

IllegalArgumentException: u'requirement failed: Column nostops must be of type org.apache.spark.ml.linalg.VectorUDT@3bfc3ba7 but was actually ArrayType(StringType,true).'

## 3  키 몸무게 데이터 회귀분석

In [18]:
Rdd.collect()

[[u'"Index"', u' Height(Inches)"', u' "Weight(Pounds)"'],
 [u'1', u' 65.78', u' 112.99'],
 [u'2', u' 71.52', u' 136.49'],
 [u'3', u' 69.40', u' 153.03'],
 [u'4', u' 68.22', u' 142.34'],
 [u'5', u' 67.79', u' 144.30'],
 [u'6', u' 68.70', u' 123.30'],
 [u'7', u' 69.80', u' 141.49'],
 [u'8', u' 70.01', u' 136.46'],
 [u'9', u' 67.90', u' 112.37'],
 [u'10', u' 66.78', u' 120.67'],
 [u'11', u' 66.49', u' 127.45'],
 [u'12', u' 67.62', u' 114.14'],
 [u'13', u' 68.30', u' 125.61'],
 [u'14', u' 67.12', u' 122.46'],
 [u'15', u' 68.28', u' 116.09'],
 [u'16', u' 71.09', u' 140.00'],
 [u'17', u' 66.46', u' 129.50'],
 [u'18', u' 68.65', u' 142.97'],
 [u'19', u' 71.23', u' 137.90'],
 [u'20', u' 67.13', u' 124.04'],
 [u'21', u' 67.83', u' 141.28'],
 [u'22', u' 68.88', u' 143.54'],
 [u'23', u' 63.48', u' 97.90'],
 [u'24', u' 68.42', u' 129.50'],
 [u'25', u' 67.63', u' 141.85'],
 [u'26', u' 67.21', u' 129.72'],
 [u'27', u' 70.84', u' 142.42'],
 [u'28', u' 67.49', u' 131.55'],
 [u'29', u' 66.53', u' 108.33'],
 [u'30', u' 65.44', u' 113.89'],
 [u'31', u' 69.52', u' 103.30'],
 [u'32', u' 65.81', u' 120.75'],
 [u'33', u' 67.82', u' 125.79'],
 [u'34', u' 70.60', u' 136.22'],
 [u'35', u' 71.80', u' 140.10'],
 [u'36', u' 69.21', u' 128.75'],
 [u'37', u' 66.80', u' 141.80'],
 [u'38', u' 67.66', u' 121.23'],
 [u'39', u' 67.81', u' 131.35'],
 [u'40', u' 64.05', u' 106.71'],
 [u'41', u' 68.57', u' 124.36'],
 [u'42', u' 65.18', u' 124.86'],
 [u'43', u' 69.66', u' 139.67'],
 [u'44', u' 67.97', u' 137.37'],
 [u'45', u' 65.98', u' 106.45'],
 [u'46', u' 68.67', u' 128.76'],
 [u'47', u' 66.88', u' 145.68'],
 [u'48', u' 67.70', u' 116.82'],
 [u'49', u' 69.82', u' 143.62'],
 [u'50', u' 69.09', u' 134.93'],
 [u'51', u' 69.91', u' 147.02'],
 [u'52', u' 67.33', u' 126.33'],
 [u'53', u' 70.27', u' 125.48'],
 [u'54', u' 69.10', u' 115.71'],
 [u'55', u' 65.38', u' 123.49'],
 [u'56', u' 70.18', u' 147.89'],
 [u'57', u' 70.41', u' 155.90'],
 [u'58', u' 66.54', u' 128.07'],
 [u'59', u' 66.36', u' 119.37'],
 [u'60', u' 67.54', u' 133.81'],
 [u'61', u' 66.50', u' 128.73'],
 [u'62', u' 69.00', u' 137.55'],
 [u'63', u' 68.30', u' 129.76'],
 [u'64', u' 67.01', u' 128.82'],
 [u'65', u' 70.81', u' 135.32'],
 [u'66', u' 68.22', u' 109.61'],
 [u'67', u' 69.06', u' 142.47'],
 [u'68', u' 67.73', u' 132.75'],
 [u'69', u' 67.22', u' 103.53'],
 [u'70', u' 67.37', u' 124.73'],
 [u'71', u' 65.27', u' 129.31'],
 [u'72', u' 70.84', u' 134.02'],
 [u'73', u' 69.92', u' 140.40'],
 [u'74', u' 64.29', u' 102.84'],
 [u'75', u' 68.25', u' 128.52'],
 [u'76', u' 66.36', u' 120.30'],
 [u'77', u' 68.36', u' 138.60'],
 [u'78', u' 65.48', u' 132.96'],
 [u'79', u' 69.72', u' 115.62'],
 [u'80', u' 67.73', u' 122.52'],
 [u'81', u' 68.64', u' 134.63'],
 [u'82', u' 66.78', u' 121.90'],
 [u'83', u' 70.05', u' 155.38'],
 [u'84', u' 66.28', u' 128.94'],
 [u'85', u' 69.20', u' 129.10'],
 [u'86', u' 69.13', u' 139.47'],
 [u'87', u' 67.36', u' 140.89'],
 [u'88', u' 70.09', u' 131.59'],
 [u'89', u' 70.18', u' 121.12'],
 [u'90', u' 68.23', u' 131.51'],
 [u'91', u' 68.13', u' 136.55'],
 [u'92', u' 70.24', u' 141.49'],
 [u'93', u' 71.49', u' 140.61'],
 [u'94', u' 69.20', u' 112.14'],
 [u'95', u' 70.06', u' 133.46'],
 [u'96', u' 70.56', u' 131.80'],
 [u'97', u' 66.29', u' 120.03'],
 [u'98', u' 63.43', u' 123.10'],
 [u'99', u' 66.77', u' 128.14'],
 [u'100', u' 68.89', u' 115.48'],
 [u'101', u' 64.87', u' 102.09'],
 [u'102', u' 67.09', u' 130.35'],
 [u'103', u' 68.35', u' 134.18'],
 [u'104', u' 65.61', u' 98.64'],
 [u'105', u' 67.76', u' 114.56'],
 [u'106', u' 68.02', u' 123.49'],
 [u'107', u' 67.66', u' 123.05'],
 [u'108', u' 66.31', u' 126.48'],
 [u'109', u' 69.44', u' 128.42'],
 [u'110', u' 63.84', u' 127.19'],
 [u'111', u' 67.72', u' 122.06'],
 [u'112', u' 70.05', u' 127.61'],
 [u'113', u' 70.19', u' 131.64'],
 [u'114', u' 65.95', u' 111.90'],
 [u'115', u' 70.01', u' 122.04'],
 [u'116', u' 68.61', u' 128.55'],
 [u'117', u' 68.81', u' 132.68'],
 [u'118', u' 69.76', u' 136.06'],
 [u'119', u' 65.46', u' 115.94'],
 [u'120', u' 68.83', u' 136.90'],
 [u'121', u' 65.80', u' 119.88'],
 [u'122', u' 67.21', u' 109.01'],
 [u'123', u' 69.42', u' 128.27'],
 [u'124', u' 68.94', u' 135.29'],
 [u'125', u' 67.94', u' 106.86'],
 [u'126', u' 65.63', u' 123.29'],
 [u'127', u' 66.50', u' 109.51'],
 [u'128', u' 67.93', u' 119.31'],
 [u'129', u' 68.89', u' 140.24'],
 [u'130', u' 70.24', u' 133.98'],
 [u'131', u' 68.27', u' 132.58'],
 [u'132', u' 71.23', u' 130.70'],
 [u'133', u' 69.10', u' 115.56'],
 [u'134', u' 64.40', u' 123.79'],
 [u'135', u' 71.10', u' 128.14'],
 [u'136', u' 68.22', u' 135.96'],
 [u'137', u' 65.92', u' 116.63'],
 [u'138', u' 67.44', u' 126.82'],
 [u'139', u' 73.90', u' 151.39'],
 [u'140', u' 69.98', u' 130.40'],
 [u'141', u' 69.52', u' 136.21'],
 [u'142', u' 65.18', u' 113.40'],
 [u'143', u' 68.01', u' 125.33'],
 [u'144', u' 68.34', u' 127.58'],
 [u'145', u' 65.18', u' 107.16'],
 [u'146', u' 68.26', u' 116.46'],
 [u'147', u' 68.57', u' 133.84'],
 [u'148', u' 64.50', u' 112.89'],
 [u'149', u' 68.71', u' 130.76'],
 [u'150', u' 68.89', u' 137.76'],
 [u'151', u' 69.54', u' 125.40'],
 [u'152', u' 67.40', u' 138.47'],
 [u'153', u' 66.48', u' 120.82'],
 [u'154', u' 66.01', u' 140.15'],
 [u'155', u' 72.44', u' 136.74'],
 [u'156', u' 64.13', u' 106.11'],
 [u'157', u' 70.98', u' 158.96'],
 [u'158', u' 67.50', u' 108.79'],
 [u'159', u' 72.02', u' 138.78'],
 [u'160', u' 65.31', u' 115.91'],
 [u'161', u' 67.08', u' 146.29'],
 [u'162', u' 64.39', u' 109.88'],
 [u'163', u' 69.37', u' 139.05'],
 [u'164', u' 68.38', u' 119.90'],
 [u'165', u' 65.31', u' 128.31'],
 [u'166', u' 67.14', u' 127.24'],
 [u'167', u' 68.39', u' 115.23'],
 [u'168', u' 66.29', u' 124.80'],
 [u'169', u' 67.19', u' 126.95'],
 [u'170', u' 65.99', u' 111.27'],
 [u'171', u' 69.43', u' 122.61'],
 [u'172', u' 67.97', u' 124.21'],
 [u'173', u' 67.76', u' 124.65'],
 [u'174', u' 65.28', u' 119.52'],
 [u'175', u' 73.83', u' 139.30'],
 [u'176', u' 66.81', u' 104.83'],
 [u'177', u' 66.89', u' 123.04'],
 [u'178', u' 65.74', u' 118.89'],
 [u'179', u' 65.98', u' 121.49'],
 [u'180', u' 66.58', u' 119.25'],
 [u'181', u' 67.11', u' 135.02'],
 [u'182', u' 65.87', u' 116.23'],
 [u'183', u' 66.78', u' 109.17'],
 [u'184', u' 68.74', u' 124.22'],
 [u'185', u' 66.23', u' 141.16'],
 [u'186', u' 65.96', u' 129.15'],
 [u'187', u' 68.58', u' 127.87'],
 [u'188', u' 66.59', u' 120.92'],
 [u'189', u' 66.97', u' 127.65'],
 [u'190', u' 68.08', u' 101.47'],
 [u'191', u' 70.19', u' 144.99'],
 [u'192', u' 65.52', u' 110.95'],
 [u'193', u' 67.46', u' 132.86'],
 [u'194', u' 67.41', u' 146.34'],
 [u'195', u' 69.66', u' 145.59'],
 [u'196', u' 65.80', u' 120.84'],
 [u'197', u' 66.11', u' 115.78'],
 [u'198', u' 68.24', u' 128.30'],
 [u'199', u' 68.02', u' 127.47'],
 [u'200', u' 71.39', u' 127.88 ']]

In [19]:
df = Rdd.toDf()
df.show()

AttributeError: 'PipelinedRDD' object has no attribute 'toDf'

In [21]:
get_text?

Object `get_text` not found.

In [30]:
df=spark.read.text(os.path.join("data", "ds_spark_heightweight.txt"))

In [25]:
df.show(truncate=False)

+------------------------------------------+
|value                                     |
+------------------------------------------+
|"Index", Height(Inches)", "Weight(Pounds)"|
|1, 65.78, 112.99                          |
|2, 71.52, 136.49                          |
|3, 69.40, 153.03                          |
|4, 68.22, 142.34                          |
|5, 67.79, 144.30                          |
|6, 68.70, 123.30                          |
|7, 69.80, 141.49                          |
|8, 70.01, 136.46                          |
|9, 67.90, 112.37                          |
|10, 66.78, 120.67                         |
|11, 66.49, 127.45                         |
|12, 67.62, 114.14                         |
|13, 68.30, 125.61                         |
|14, 67.12, 122.46                         |
|15, 68.28, 116.09                         |
|16, 71.09, 140.00                         |
|17, 66.46, 129.50                         |
|18, 68.65, 142.97                         |
|19, 71.23, 137.90                         |
+------------------------------------------+
only showing top 20 rows

In [28]:
df = df.toPandas()

In [29]:
df.head()

                                        value
0  "Index", Height(Inches)", "Weight(Pounds)"
1                            1, 65.78, 112.99
2                            2, 71.52, 136.49
3                            3, 69.40, 153.03
4                            4, 68.22, 142.34

AttributeError: 'DataFrame' object has no attribute 'data'